{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-3 p-lg-5">
                <div class="login form">
                    <h1 class="mb-4">Reset Password</h1>
                    <form method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Enter your Email" name="email" required>
                            <div class="invalid-feedback">
                                Please provide a valid email.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password1" placeholder="Enter New password" name="password1" required>
                            <div class="invalid-feedback">
                                Please provide a valid password.
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="password2" placeholder="Confirm New password" name="password2" required>
                            <div class="invalid-feedback">
                                Please confirm your password.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
